<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>About page</title>

</head>

<body>
  {{> header}}
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod quam, eos labore, ea laboriosam alias mollitia culpa similique
    deleniti est aspernatur id aperiam saepe veritatis voluptatem obcaecati. Velit, unde, praesentium.</p>

  {{> footer}}
</body>

</html>